---
title: Trag.developers
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-610142-15"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-610142-15');
    </script>
    <title>👋 Hello, I'm Chris Trag</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chris Traganos leads the Developer Advocacy team at Stripe, where he focuses on Open Source communities and a video-first approach to scaled dev relations.">
    <meta name="keywords" content="trag, traganos, stripe, harvard, roku, evernote">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Chris Trag">
    <meta property="og:title" content="👋 Hello, I'm Chris Trag">
    <meta property="og:site_name" content="Trag.dev">
    <meta property="og:url" content="https://trag.dev">
    <meta property="og:description" content="Chris Traganos leads the Developer Advocacy team at Stripe, where he focuses on Open Source communities and a video-first approach to scaled dev relations.">
    <meta property="og:image" content="https://trag.dev/assets/img/trag-grid.jpg">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"> 
    <style>ul{list-style: disc outside;}</style>

  </head>
  <body>
    <div class="container grid-lg">
        <div class="columns">
          <div class="column col-10 col-mx-auto"><br>
              {{ content | safe }}
          </div>
        </div>
      </div>
  </body>
</html>